<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857128394712-75vjcusl57q47qgm0aekqbp886spjjrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857128394712-75vjcusl57q47qgm0aekqbp886spjjrf</string>
	<key>API_KEY</key>
	<string>AIzaSyA78V-4SVbaBV9wLQ2t40k6-bo113XkuSs</string>
	<key>GCM_SENDER_ID</key>
	<string>857128394712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcanumone.app</string>
	<key>PROJECT_ID</key>
	<string>betano-6462151807-c53</string>
	<key>STORAGE_BUCKET</key>
	<string>betano-6462151807-c53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857128394712:ios:b11ce168caaf6056ca5cad</string>
</dict>
</plist>